* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #ddd;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
}

main {
  margin: auto;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  main {
    max-width: 500px;
  }
}

section {
  text-align: left;
  margin: auto;
}

hr {
  height: 0.25rem;
  background: #333;
  margin-top: 1rem;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

h2 {
  font-size: 2rem;
  margin-top: 1rem;
}
